@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    height: 800px;
    background: url(img/slider-img.jpg);
    
}

img[alt="logo"] {
    margin-top: 63px;
    margin-left: 98px;
}

.menu {
    float: right;
    list-style-type: none;
    margin-right: 211px;
    margin-top: 67px;
    padding-left: 0px;
}

.menu li {
    display: inline-block;
    height: 45px;
    vertical-align: middle;
    margin-right: -5px;
}

.menu li .point {
    text-decoration: none;
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 13px;
}

.menu li .point:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.menu li:last-child {
    height: 12px;
    margin-left: 10px;
}

.head_text {
    margin-top: 288px;
    margin-left: 98px;
}

.head_text .p1 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
}

.head_text .p2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    margin-top: -25px;
    margin-bottom: 0px;
}

.head_text .p3 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.order_us,
.order_us_2{
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    border-radius: 22.5px;
}

.order_us:hover,
.order_us_2:hover {
    background: url(img/arrow.png) no-repeat 173px 16px;
    background-color: #ffffff;
}

.order_us:active,
.order_us_2:active {
    background: url(img/arrow.png) no-repeat 175px 16px
}

.navi {
    position: absolute;
    margin-left: 623px;
    margin-top: 130px;
}

.active {
    position: absolute;
    margin-left: 663px;
    margin-top: 130px;
}


/* ----------------CONTENT-------------------*/

.roll {
    width: 1366px;
    position: relative;
    overflow:
}

.cont_menu {
    float: left;
    list-style-type: none;
    margin-top: 96px;
    margin-left: 98px;
    padding-left: 0px;
    position: absolute;
}

.cont_menu li {
    display: inline-block;
    margin-left: -4px;
}

.cont_menu a {
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    line-height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #212121;
}

.cont_menu a:hover {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.explore_all {
    position: absolute;
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-left: 1090px;
    margin-top: 138px;
}

.explore_all:hover:after {
    content: url(img/arrow.png);
}

.featured_img {
    position: absolute;
    list-style-type: none;
    margin-top: 219px;
    padding-left: 98px;
}

.featured_img li {
    display: inline-block;
    margin-right: 15px;
    height: 270px;
    width: 270px;
}

.product_text {
    position: absolute;
    text-align: center;
    margin-top: 62px;
    width: 270px;
}

.product_text h2 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    transform: scaleX(1.0041);
}

.product_text p3 {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.0041);
    padding-top: 30px;
}

.opacity_hover {
    height: 270px;
    width: 270px;
    position: absolute;
}

.opacity_hover:hover {
    opacity: 0.15;
    outline: 1px solid #212121;
}

.product_1 {
    background: url(img/product-1.jpg) no-repeat;
}

.product_2 {
    background: url(img/product-2.jpg)no-repeat;
}

.product_3 {
    background: url(img/product-3.jpg)no-repeat;
}

.product_4 {
    background: url(img/product-4.jpg)no-repeat;
}

.promo {
    position: absolute;
    margin-top: 609px;
}

.promo1,
.promo2 {
    height: 683px;
    width: 683px;
    overflow: hidden;
}

.promo1 {
    background-image: url(img/promo-img1.jpg);
    float: left;
}

.promo2 {
    background-image: url(img/promo-img.jpg);
}

.promo .p1 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    margin-left: 51px;
    margin-top: 228px;
}

.promo .p2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 52px;
    margin-top: -20px;
}

.promo .p3 {
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    transform: scaleY(1.0022);
    margin-left: 50px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.promo1 a,
.promo2 a {
    margin-left: 50px;
}

.trending {
    position: absolute;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-top: 1411px;
    width: 100%;
}

.trending p {
    position: absolute;
    margin-top: 0px;
    margin-left: 98px;
    float: left;
}

.explore_all_2 {
    margin-top: 17px;
    margin-left: 1090px;
}

table {
    margin-left: 98px;
    margin-top: 99px;
    text-align: center;
    border-spacing: 10px 10px;
}

td:hover {
    outline: 1px solid #6c6c6c;
}



/*-------------------CONTENT_2_______________*/
.content_2 {
    height: 800px;
    width: 1366px;
    background-image: url(img/slider.jpg);
    position:absolute;
    margin-top: 2400px;
}
.navi2 {
    position: absolute;
    margin-left: 623px;
    margin-top: 220px;
}

.active2 {
    position: absolute;
    margin-left: 663px;
    margin-top: 220px;
}
   
.head_text .p1_2 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
}

.promo_2{
    width: 1170px;
    height: 570px;
    margin: 0 auto;
    margin-top: 3340px;
}
.prod_1 {
    float: left;
    background-image: url(img/product-1-lg.jpg);
    height: 570px;
    width: 570px;
}
.prod_2 {
    height: 570px;
    width: 570px;
    float: right;


}

.promo22 .p1 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    margin-left: 31px;
    margin-top: 186px;
}

.promo22 .p2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    margin-left: 32px;
    margin-top: -20px;
}

.promo22 .p3 {
    color: #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    transform: scaleY(1.0022);
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.order_us_2 {
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    border-radius: 22.5px;
    margin-left: 30px;
}

img[alt="2_sm"]{
    float: left;
}
img[alt="3_sm"]{
    float: right;
}
img[alt="4_sm"]{
    float: left;
    margin-top: 30px;
}
img[alt="5_sm"]{
    float: right;
    margin-top: 30px;
}

.footer_1 {
    background-image: url(img/footer/back-img.jpg);
    margin-top: 135px;
    height: 516px;
    width: 100%;

}

.footer_1_text {
        position: absolute;
}

.footer_2 {
    background-image: url(img/footer/footer-back.jpg);
    height: 384px;
    width: 100%;
}

.footer_1 .p_1 {
    margin: 125px 99px 0px;
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
}

.footer_1 .p_2 {
    margin: 0px 0px 0px 106px;
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
}

.footer_1 .p_3 {
    margin: 10px 0px 0px 99px;
    color:  #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
}

.footer_1_text img[alt="1"] {
    margin: 20px 0px 0px 98px;
}
.footer_1_text img[alt="2"] {
    margin-left: 10px;
}

