* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    max-width: 80%;
    min-width: 700px;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    min-height: 200px;
    background-color: antiquewhite;
}

.menu li {
    list-style-type: none;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    float: left;
}

.content {
    background-color: burlywood;
    margin-left: 200px;
}

.content .block {
    width: 30%;
    height: 300px;
    outline: 1px solid black;
    float: left;
    margin: 1% 1.5%;
}

.nav {
    width: 200px;
    height: 300px;
    background-color: saddlebrown;
    float: left;
}

.clearfix {
    clear: both;
}

.clr {
    height: 202px;
}

.footer {
    height: 200px;
    background-color: saddlebrown;
    width: 80%;
    margin: -202px auto 0;
}

@media screen and (min-width:1200px) {
    .header {
        background-color:bisque
    }
}

@media screen and (max-width: 600px) {
    .content .block {
        width: 45%;
        height: 300px;
        outline: 1px solid black;
        float: left;
        margin: 2% 2.5%;
    }
    .menu li {
        float: none;
    }
}