@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1140px) {
    .container {
        width: auto;
        margin: auto;
        padding: 0 15px;
    }
}

.header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

@media (max-width: 745px) {
    .header {
        height: auto;
    }
}

.headerInside {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 745px) {
    .headerInside {
        flex-direction: column;
        padding: 15px;
    }
}

@media (max-width: 745px) {
    .headerInside > div,
    .headerInside form {
        margin-bottom: 15px;
    }
}

.logo {
    width: 165px;
    line-height: 51px;
    background: url(../images/logo.png) no-repeat;
    font-size: 27px;
    font-weight: 300;
    padding-left: 60px;
}

@media (max-width: 745px) {
    .logo {
        width: auto;
    }
}

.logo span {
    color: #f16d7f;
    font-weight: 400;
}

.searchWrap {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
}

.searchBrowse {
    height: inherit;
    padding: 12px;
    font-size: 14px;
    color: #222222;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
}

@media (max-width: 745px) {
    .searchBrowse {
        padding: 11px;
    }
}

.searchWrap input {
    height: inherit;
    padding: 0 3px;
    border: none;
    outline: none;
}

.searchWrap button {
    height: inherit;
    padding: 0 8px;
    border: 0;
    background: none;
    border-left: 1px solid #e6e6e6;
}

.headerCart {
    margin-left: auto;
    margin-right: 25px;
}

@media (max-width: 745px) {
    .headerCart {
        display: none;
    }
}

.accountBtn {
    padding: 15px;
    background-color: #f16d7f;
    color: white;
    border: none;
}

.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 740px) {
    .topNav {
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width: 425px) {
    .topNav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.topNav a:not(:last-child) {
    margin-right: 45px;
}

@media (max-width: 425px) {
    .topNav a:not(:last-child) {
        margin-right: 0;
    }
}

.topNav a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #222222;
}

.topNav a:hover {
    color: #f16d7f;
}

.newArrivalsWrap {
    height: 150px;
    background: #f8f3f4;
}

.newArrivals {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

@media (max-width: 520px) {
    .newArrivals {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.newArrivals h1 {
    margin: 0;
    font-weight: 900;
    color: #f16d7f;
}

.newArrivals nav a {
    text-decoration: none;
    color: #636363;
}

.newArrivals nav a:hover {
    color: #f16d7f;
}

.newArrivals nav a:last-child {
    font-weight: 700;
    color: #f16d7f;
}